*.la
*.lo
*.o
.deps
.libs
ABOUT-NLS
ChangeLog
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.h
config.h.in
config.log
config.status
config.guess
config.rpath
config.sub
config
configure
depcomp
scarecrow-doc-utils.make
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
po/*.gmo
po/*.header
po/*.sed
po/*.sin
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/stamp-it
stamp-h1
*~

scarecrow-initial-setup-*.tar.gz
scarecrow-initial-setup-*.tar.bz2
scarecrow-initial-setup-*.tar.xz

scarecrow-initial-setup/scarecrow-initial-setup
scarecrow-initial-setup/scarecrow-initial-setup-copy-worker
scarecrow-initial-setup/gis-assistant-resources.[ch]

scarecrow-initial-setup/pages/welcome/welcome-resources.[ch]
scarecrow-initial-setup/pages/language/language-resources.[ch]
scarecrow-initial-setup/pages/region/region-resources.[ch]
scarecrow-initial-setup/pages/keyboard/keyboard-resources.[ch]
scarecrow-initial-setup/pages/eulas/eulas-resources.[ch]
scarecrow-initial-setup/pages/network/network-resources.[ch]
scarecrow-initial-setup/pages/password/password-resources.[ch]
scarecrow-initial-setup/pages/privacy/privacy-resources.[ch]
scarecrow-initial-setup/pages/timezone/geoclue.[ch]
scarecrow-initial-setup/pages/timezone/timedated.[ch]
scarecrow-initial-setup/pages/timezone/cc-datetime-resources.[ch]
scarecrow-initial-setup/pages/timezone/timezone-resources.[ch]
scarecrow-initial-setup/pages/goa/goa-resources.[ch]
scarecrow-initial-setup/pages/account/account-resources.[ch]
scarecrow-initial-setup/pages/account/um-realm-generated.[ch]
scarecrow-initial-setup/pages/software/software-resources.[ch]
scarecrow-initial-setup/pages/summary/summary-resources.[ch]

scarecrow-initial-setup-first-login.desktop
scarecrow-initial-setup.desktop
scarecrow-initial-setup-copy-worker.desktop
scarecrow-welcome-tour.desktop

scarecrow-initial-setup-0.*
scarecrow-initial-setup-3.*

player/scarecrow-initial-setup-player
